*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-expand{

    font-size: 2em;

}
.navbar-brand{

       font-size: 2em;
}
.logo{

    width: 2em;


}

article{

position: relative;
padding: 0px 40px 20px 40px;


}

.article-perfil{

    display: block;
    position: relative;
    top: -5px;
    left: 5px;
    width: 150px;
    padding: 15px 5px;


}

.article-Logo{

    display: block;
    position: relative;
    top: -5px;
    left: -8px;
    width: 150px;
    padding: 15px 5px;

}

.imglogo{
    /* display: inline-block; */
    text-align: center;
}

.nomlogo{
    /* display: inline-block; */
    text-align: center;
}

.perfil{
    /* display: inline-block; */
    text-align: center;
    width: 6em;
    
}
thead {
    font-size: smaller;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

