* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.fondo_login {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
  grid-template-columns: repeat(2, 50%);
  height: 100vh;
}

.fondo {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fondo img {
  width: 50em;
}

.datos {
  background-image: url("../img/Login-fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-datos {
  text-align: center;
}

.input-group {
  position: relative;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 0.5em;
}

.input-fill input {
  border: none;
  border-bottom: 3px solid #fff;
  background: transparent;
  color: #000;
  font-size: 1em;
  width: 100%;
  padding: 0.5em;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-bottom: 1em;
}

.input-fill input:focus {
  border-bottom: 3px solid #62A8FC;
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.input-fill input:hover {
  border-bottom: 3px solid #62A8FC;
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: white;
}

.input-fill input:hover::-webkit-input-placeholder {
  color: rgba(20, 20, 20, 0.744);
  font-size: 1.5em;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.input-fill input:hover::-moz-placeholder {
  color: rgba(20, 20, 20, 0.744);
  font-size: 1.5em;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.input-fill input:hover:-ms-input-placeholder {
  color: rgba(20, 20, 20, 0.744);
  font-size: 1.5em;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.input-fill input:hover::-ms-input-placeholder {
  color: rgba(20, 20, 20, 0.744);
  font-size: 1.5em;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.input-fill input:hover::placeholder {
  color: rgba(20, 20, 20, 0.744);
  font-size: 1.5em;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-enviar {
  border-radius: 1em;
  width: 45%;
  padding: 0.5em;
  background-color: #62A8FC;
  color: #fff;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-top: 1em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-enviar:hover {
  background-color: #fff;
  color: #62A8FC;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}